.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
}

.covered {
  background-color: black;
}

.hand {
  width: 100%;
  height: 100%;
  overflow: auto;
}

body {
	background-color: green;
}

.hit-button {
	position: absolute;
	top: 15px;
	left: 500px;
}
.stand-button {
	position: absolute;
	top: 15px;
	left: 550px;
}
.deal-button {
	position: absolute;
	top: 15px;
	left: 620px;
}